<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.web.yjt_backend.mapper.PaperMapper">

    <resultMap id="BaseResultMap" type="edu.web.yjt_backend.model.domain.Paper">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="author" column="author" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="questions" column="questions" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="isPublic" column="isPublic" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,author,
        description,questions,createTime,
        updateTime,isDelete,isPublic
    </sql>
</mapper>
